.container {
  position: relative;
  text-align: center;

  .text-result {
    color: black;
    font-size: 60px;
    font-weight: bolder;
  }

  .img {
    max-width: 100%;
    height: auto;
    opacity: 0.6;
  }

  .indicators {

    .left {
      position: absolute;
      top: 40%;
      left: 25%;
      transform: translate(-50%, -50%);
    }

    .right {
      position: absolute;
      top: 40%;
      left: 75%;
      transform: translate(-50%, -50%);
    }
  }

}

